.set-hours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto; /* Salli vaakasuuntainen vieritys */
  position: relative;
}

.calendar-navigation {
  margin-bottom: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 100px repeat(21, 1fr); /* 21 päivää + 1 työntekijän nimi */
  width: 100%;
  overflow-x: auto;
}

.calendar-header,
.calendar-body {
  display: contents; /* Tehdään header ja body osasta gridin jatkumo */
}

.calendar-row {
  display: contents; /* Jokainen rivi on osa ylempää gridiä */
}
.calendar-cell,
.date-cell,
.employee-cell {
  text-align: center;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 10px;
  white-space: nowrap; /* Estää tekstin rivityksen */
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendar-cell.selected {
  background-color: rgba(0, 123, 255, 0.3);
}

.week-number {
  font-weight: bold;
  text-align: center;
  background-color: #f0f0f0;
  height: 80px; /* Kiinteä solun korkeus */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%; /* Viikon solujen leveys yhteensä */
}

.date-cell {
  background-color: white;
  z-index: 2;
}

.empty-cell {
  background-color: #f8f8f8;
  border: none;
  width: 100px; /* Kiinteä työntekijän nimen solun leveys */
  position: sticky;
  left: 0;
  z-index: 3;
}

.employee-cell {
  grid-column: 1; /* Työntekijän nimi aina ensimmäisessä sarakkeessa */
}

.shift {
  position: relative;
  background-color: #d1e7dd;
  border-radius: 3px;
  margin: auto; /* Keskittää työvuoron */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; /* Automaattiset koot ruksille ja kopioi-napille, 1fr ajalle */
  align-items: center;
  justify-content: center;
  height: 99%; /* Täytä koko solun korkeus */
  width: 99%; /* Täytä koko solun leveys */
  box-sizing: border-box;
  padding: 2px; /* Lisätään hieman paddingia */
}

.shift-time {
  text-align: center;
  font-size: 18px; /* Pienennetään fonttikokoa */
  font-weight: 700;
}

.draggable-cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: red;
  grid-row: 1 / 2; /* Ensimmäinen rivi */
  justify-self: end;
  align-self: start;
  margin: 0; /* Poistetaan marginaali */
  padding: 2px; /* Lisätään hieman paddingia */
}

.copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: blue;
  grid-row: 3 / 4; /* Kolmas rivi */
  justify-self: center;
  align-self: end;
  margin: 0; /* Poistetaan marginaali */
  padding: 2px; /* Lisätään hieman paddingia */
}
.week-number {
  background-color: #eee;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 7; /* Span over 7 days */
}
.week-separator {
  position: absolute;
  top: 0;
  right: -1px; /* Viivan asettaminen solun oikeaan reunaan */
  bottom: 0;
  height: 100%; /* Pystysuoran viivan korkeus */
  width: 4px; /* Paksumpi viiva */
  background-color: #000;
}

button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Modal styling */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 300px;
  max-width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 3;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.modal-buttons button:last-child {
  background-color: #6c757d;
}

.modal-buttons button:last-child:hover {
  background-color: #5a6268;
}

.time-selectors {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.time-selectors label {
  font-weight: bold;
}

.time-selectors select {
  margin: 0 5px;
  padding: 5px;
  font-size: 16px;
}

.drag-over {
  border: 2px dashed #007bff; /* Tai muu haluttu korostus */
  background-color: #e3f2fd; /* Korostus väri */
}

.selected {
  background-color: #d3d3d3; /* Tai muu haluttu väri */
}
